html{
    background-color: black;
    color: goldenrod;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

legend{
    text-align:left;
    background-color: goldenrod;
    color: black;
    box-shadow: yellow 8px 8px 8px ;
    padding: 5%;
    font-size: 20px;
    border-radius: 0% 50% 0% 50% ;

}

fieldset{
    text-align: center;
    width: fit-content;
    margin: auto;
    border: 2px solid goldenrod ;
    padding: 20px;
    min-width:30%;
    min-height: 40%;
    box-shadow: yellow 8px 8px 8px ;
    text-shadow:  yellow 1px 1px 1px;
    border-radius: 0% 0% 50% 50%;
    border-left: none;

}

label{
    padding: 5px;
    font-weight: 900;
    font-size: larger;
}

input{
    border-radius: 20px 20px 20px 20px;
    padding: 15px;
    background-color: gold;

}

::placeholder{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

form{
    margin-top: 2%;
}

button{
    background-color:goldenrod;
    color: black;
    padding: 10px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-shadow:  yellow 10px 10px 10px;
    font-size: 20px;
}

.main{
    padding: 5px;
    align-content: center;
}